@page
@model AspNetOne.Pages.EnvironmentModel
@{
    ViewData["Title"] = "Environment";
}
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingZero">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                    System Information
                </button>
            </h5>
        </div>
        <div id="collapseZero" class="collapse show" aria-labelledby="headingZero" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-sm table-hover text-break">
                    <tbody>
                        <tr>
                            <th>MachineName</th>
                            <td>@Environment.MachineName</td>
                            <th>CommandLine</th>
                            <td>@Environment.CommandLine</td>
                        </tr>
                        <tr>
                            <th>Is64BitOperatingSystem</th>
                            <td>@Environment.Is64BitOperatingSystem</td>
                            <th>Is64BitProcess</th>
                            <td>@Environment.Is64BitProcess</td>
                        </tr>
                        <tr>
                            <th>OSVersion</th>
                            <td>@Environment.OSVersion.Platform</td>
                            <th>VersionString</th>
                            <td>@Environment.OSVersion.VersionString</td>
                        </tr>
                        <tr>
                            <th>SystemDirectory</th>
                            <td>@Environment.SystemDirectory</td>
                            <th>CurrentDirectory</th>
                            <td>@Environment.CurrentDirectory</td>
                        </tr>
                        <tr>
                            <th>WorkingSet</th>
                            <td>@Environment.WorkingSet</td>
                            <th>SystemPageSize</th>
                            <td>@Environment.SystemPageSize</td>
                        </tr>
                        <tr>
                            <th>UserDomainName</th>
                            <td>@Environment.UserDomainName</td>
                            <th>UserName</th>
                            <td>@Environment.UserName</td>
                        </tr>
                        <tr>
                            <th>UserInteractive</th>
                            <td>@Environment.UserInteractive</td>
                            <th>ProcessorCount</th>
                            <td>@Environment.ProcessorCount</td>
                        </tr>
                        <tr>
                            <th>TickCount64</th>
                            <td>@Environment.TickCount64</td>
                            <th>Uptime</th>
                            <td>@TimeSpan.FromMilliseconds(Environment.TickCount64)</td>
                        </tr>
                        <tr>
                            <th>CLR Version</th>
                            <td>@Environment.Version</td>
                            <th>ProcessId</th>
                            <td>@Environment.ProcessId</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Environment Variables <span class="badge badge-light">@Environment.GetEnvironmentVariables().Count</span>
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-sm table-hover text-break">
                    <thead class="thead-dark">
                        <tr>
                            <th>Variable</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Collections.DictionaryEntry item in Environment.GetEnvironmentVariables())
                        {
                            <tr>
                                <td>@item.Key</td>
                                <td>@item.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Logical Drives <span class="badge badge-light">@Environment.GetLogicalDrives().Count()</span>
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-sm table-hover">
                    <tbody>
                        @foreach (var item in Environment.GetLogicalDrives())
                        {
                            <tr>
                                <td>@item</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Command Line Args
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-sm table-hover">
                    <tbody>
                        @foreach (var item in Environment.GetCommandLineArgs())
                        {
                            <tr>
                                <td>@item</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Special Folders
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-sm table-hover">
                    <tbody>
                        @foreach (var item in Enum.GetValues(typeof(Environment.SpecialFolder)).Cast<Environment.SpecialFolder>())
                        {
                            <tr>
                                <td>@item</td>
                                <td>@Environment.GetFolderPath(item)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
